In [31]:
import pandas as pd

import numpy as np

In [8]:
# Read file

df = pd.read_excel('C:\\Users\\jorge\\Documents\\GitHub\\badly-structured-sales-data\\1.-Badly-Structured-Sales-Data-1.xlsx')

In [10]:
df.head()

,Segment>>,Consumer,Unnamed: 2,Unnamed: 3,Unnamed: 4,Consumer Total,Corporate,Unnamed: 7,Unnamed: 8,Unnamed: 9,Corporate Total,Home Office,Unnamed: 12,Unnamed: 13,Unnamed: 14,Home Office Total
0,Ship Mode>>,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN
1,Order ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA-2011-100293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056,91.056
3,CA-2011-100706,NaN,NaN,129.44,NaN,129.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CA-2011-100895,NaN,NaN,NaN,605.47,605.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.iloc[0]

Segment>>               Ship Mode>>
Consumer                First Class
Unnamed: 2                 Same Day
Unnamed: 3             Second Class
Unnamed: 4           Standard Class
Consumer Total                  NaN
Corporate               First Class
Unnamed: 7                 Same Day
Unnamed: 8             Second Class
Unnamed: 9           Standard Class
Corporate Total                 NaN
Home Office             First Class
Unnamed: 12                Same Day
Unnamed: 13            Second Class
Unnamed: 14          Standard Class
Home Office Total               NaN
Name: 0, dtype: object

In [92]:

filt_contains_unnamed = df.columns.str.contains('Unnamed')
filt_contains_unnamed

# df.loc[0, filt_contains_unnamed]

col_ind = 0

new_cols = []

for i in df.columns.str.contains('Unnamed'):
    if i == True:
        new_cols.append(df.iloc[0, col_ind])
    else:
        new_cols.append(df.columns[col_ind])
    col_ind += 1

print(pd.Series(new_cols))

0             Segment>>
1              Consumer
2              Same Day
3          Second Class
4        Standard Class
5        Consumer Total
6             Corporate
7              Same Day
8          Second Class
9        Standard Class
10      Corporate Total
11          Home Office
12             Same Day
13         Second Class
14       Standard Class
15    Home Office Total
dtype: object

In [18]:
# Row and column count
df.shape

(825, 16)

In [21]:
# View columns
df.columns.sort_values()

Index(['Consumer', 'Consumer Total', 'Corporate', 'Corporate Total',
       'Home Office', 'Home Office Total', 'Segment>>', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [58]:
# Count empty and non-empty values

df['Consumer'].isnull().value_counts()

True     751
False     74
Name: Consumer, dtype: int64

In [72]:
# Empty values per column
# df.iloc[:, [1]].value_counts()

filt_empty_consumer = df['Consumer'] == np.empty

filt_empty_consumer

# df.loc[filt_empty_consumer]

0      False
1      False
2      False
3      False
4      False
       ...
820    False
821    False
822    False
823    False
824    False
Name: Consumer, Length: 825, dtype: bool

In [ ]:
# Meaning of columns